/* main page styles */
#pageMain {
  width: 100%;
  height: 100%;
  padding: 5% 0 0 0;

  position: relative;
  z-index: 9998;

  overflow-y: scroll;
  overflow-x: hidden;

  align-items: center;
  justify-content: center;
  display: flex;
}

#pageHeader {

}

#pageLogo {
  font-family: Quicksand-Bold, "Arial Rounded MT Bold", sans-serif;
  font-size: xx-large;
  margin-bottom: 5px;
}

#logoPlanets-Page {
  height: 32px;
  width: 30px;

  position: relative;
  top: 4.3px;
}
