/* main page styles */
#pageHome {
  height: 100vh;
  width: 100vw;

  position: relative;
  z-index: 9998;

  overflow-y: scroll;
  overflow-x: hidden;

  align-items: center;
  /*justify-content: center;*/

  display: flex;
  flex-direction: column;
}

#homeContent {
  padding: 72px 0 0 0;

  /*height: 100%;*/
  /*width: 100%;*/
  box-sizing: border-box;

  align-items: center;
  text-align: center;
}

#homeHeader {
}

#homeHeaderLogo {
}


#homeLogoText {
  height: 40px;
  padding: 10px 0 30px 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: Quicksand-Bold, "Arial Rounded MT Bold", sans-serif;
  font-size: xxx-large;
}

#homeLogoPlanets {
  margin-top: 4px;
  height: 46px;
  width: 46px;
}

#accountWelcome {
  display: flex;
  justify-content: center;
}
